* {
  box-sizing: border-box;
  background-color: #a9e0e4f5;
}

#image
{
    width: 1200px;
    height: 150px;
}
table {
  border-radius: initial;
}

table,th, td, tr
{
  border: 1px solid black ;
  padding: 20px;
  text-align: center;
}

th
{
  background-color: yellowgreen
}



#ozgecmis
{
  border: ;
  padding: 20px;
  text-align: justify;
}

#hakkımda
{
  border-block-end: rgb(218, 32, 32);
  border-block-end-style: double;
  padding: 10px;
  text-align: justify;
}
#ozgecmis2
{
  border: ;
  padding: 20px;
  text-align: justify;
}

h1
{
  color: rgb(139, 29, 56);
}

.tablobaslık
{
  color: rgb(32, 19, 212);
  background-color: rgb(128, 240, 156);
}

.tablosayı
{
  color: rgb(7, 8, 34);
  background-color: rgb(169, 240, 128);
}


.dilseviyesi
{
  color: rgb(212, 19, 83);
  background-color: rgb(45, 184, 17);
}

.tablodiller
{
  color: rgb(54, 19, 212);
  background-color: rgb(128, 148, 240);
}

ul, li {

  background: rgb(0, 128, 122);
  padding: 10px;
  
}
